# Ignore extra files created from compiling .tex file into a pdf
*.aux
*.brf
*.idx
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*-eps-converted-to.pdf

# Ignore pdf versions of images created by .tex comilation
**/figs/*.pdf

# Ignore compiled program files from Beagle Bone
*.a

# Ignore user specific files from Beagle Bone code files
cords.txt
psftp_script.txt